<a href="https://colab.research.google.com/github/sebastienhamel/this_is_me_teaching/blob/main/02_Panda_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Series
-------------

* * *

What is a Series?
-----------------

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

**Example**
```
#Create a simple Pandas Series from a list:

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)
```
* * *



You can also practice them below in code block

In [ ]:
# why is the following not working?
a = [1, 7, 2]

first_example = pd.Series(a)

print(first_example)

NameError: name 'pd' is not defined

In [ ]:
#importing pandas
import pandas as pd

In [ ]:
# Create a simple Pandas Series from a list:
# applying .Series() method

import pandas as pd

a = [1, 7, 2]

first_example = pd.Series(a)
second_example = pd.Series([2, 3, 5, 6])

print(first_example)
print(second_example)

0    1
1    7
2    2
dtype: int64
0    2
1    3
2    5
3    6
dtype: int64

In [ ]:
first_example

0    1
1    7
2    2
dtype: int64

In [ ]:
# will the following syntax work?

import pandas as pd

a = [1, 7, 2]

first_example = python.pandas.Series(a)

print(first_example)

NameError: name 'python' is not defined

In [ ]:
# will the following syntax work?
a = [1, 7, 2]

first_example = python.pandas.Series(a)

print(first_example)

NameError: name 'python' is not defined

In [ ]:
# what if I do not use alias?

import pandas

a = [1, 7, 2]

first_example = pandas.Series(a)

print(first_example)
print(first_example[0:1])

0    1
1    7
2    2
dtype: int64
0    1
dtype: int64

Labels
------

If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

**Example**
```
#Return the first value of the Series:

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar[0])

```

In [ ]:
#printing the first value at 0 index in the series
# print(first_example)
# print(first_example[0])
# print(first_example[1])

example_list = [1, 2, 4]
print(example_list[5])

IndexError: list index out of range

In [ ]:
# accessing an out of reach index
print(first_example[3])

KeyError: 3

Create Labels
-------------

With the `index` argument, you can name your own labels.

### Example

Create your own labels:

```
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])  
  
print(myvar)
```
[Try it Yourself »](https://www.w3schools.com/python/pandas/trypython.asp?filename=demo_pandas_series_label)

When you have created labels, you can access an item by referring to the label.

```python
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar["y"])
```
* * *

In [ ]:
#creating labels
import pandas as pd

a = [1, 17, 2]

first_example = pd.Series(a, index = ["x", "y", "z"])

print(first_example)

x     1
y    17
z     2
dtype: int64

In [ ]:
#printing the valye at label y
print(first_example["y"])

dictionary = {
    "keyName": 1,
    "anotherKeyName": 17,
    "thirdKey": 2,
  }

print(dictionary)
print(dictionary['anotherKeyName'])
print(dictionary['thirdKey'])

17
{'keyName': 1, 'anotherKeyName': 17, 'thirdKey': 2}
17
2

In [ ]:
#can you access a range of items in a series?
print(first_example["x":"z"])

x     1
y    17
z     2
dtype: int64

Key/Value Objects as Series
---------------------------

You can also use a key/value object, like a dictionary, when creating a Series.

### Example 1

Create a simple Pandas Series from a dictionary:
```
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)  
  
print(myvar)
```
[Try it Yourself »](https://www.w3schools.com/python/pandas/trypython.asp?filename=demo_pandas_series_dict)

**Note:** The keys of the dictionary become the labels.

In [ ]:
import pandas as pd

# data_list = [1, 7, 2]
# first_example = pd.Series(data_list, index = ["x", "y", "z"])

calories = {"day1": 420, "day2": 380, "day3": 390}

first_example = pd.Series(calories)

print(first_example)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
#converting a dictionary(key:value pair) into a Series
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

first_example = pd.Series(calories)

print(first_example["day2"]) #accessing the Series through their keys that have now become labels after we applied .Series() method

380

To select only some of the items in the dictionary, use the `index` argument and specify only the items you want to include in the Series.

### Example 2 - Index Argument

Create a Series using only data from "day1" and "day2":

```
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])  
  
print(myvar)
```
[Try it Yourself »](https://www.w3schools.com/python/pandas/trypython.asp?filename=demo_pandas_series_index)

* * *

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

first_example = pd.Series(calories, index = ["day1", "day2"])

print(first_example)

day1    420
day2    380
dtype: int64

In [ ]:
#what happens if you give key value pairs new index/labels
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

first_example = pd.Series(calories, index = ["x", "y"])
# What we are saying here:
# Here is a dictionary of values, with the keys as the index and the values as the values
# Now load this dictionary as a Series
# For the keys provided in the dictionary, use the indexes x and y
# These index do not exist
# By design, if an index does not exist when we are loading a series, it will add row with the new indexes.
# Since there is no value provided, pandas fills the void with Not A Number (NaN)

print(first_example)

x   NaN
y   NaN
dtype: float64

Test Yourself With Exercises
----------------------------

[Click here to practice .Series() releated syntax](https://www.w3schools.com/python/pandas/exercise.asp?x=xrcise_series1)


[Click to access All Pandas exercises](https://www.w3schools.com/python/pandas/exercise.asp?filename=exercise_series1)

### Extra: Other ways of Creating Series

There are several ways to create a Pandas series. Here are some of the most common methods:

1. **Creating an empty series**: You can create an empty series using the `pd.Series()` function. For example, `s = pd.Series()` creates an empty series.

2. **Creating a series from a list**: You can create a series from a list using the `pd.Series()` function. For example, `s = pd.Series([1, 2, 3, 4, 5])` creates a series with values `[1, 2, 3, 4, 5]`.

3. **Creating a series from a dictionary**: You can create a series from a dictionary using the `pd.Series()` function. For example, `s = pd.Series({'a': 1, 'b': 2, 'c': 3})` creates a series with values `{'a': 1, 'b': 2, 'c': 3}`.

4. **Creating a series from an array**: You can create a series from an array using the `pd.Series()` function. For example, `s = pd.Series(np.array([1, 2, 3, 4, 5]))` creates a series with values `[1, 2, 3, 4, 5]`. Also, you don't need to use the numpy array, you can use the standard list() from python.

5. **Creating a series from a scalar value**: You can create a series from a scalar value using the `pd.Series()` function. For example, `s = pd.Series(0, index=[0, 1, 2, 3, 4])` creates a series with values `[0, 0, 0, 0, 0]`.

6. **Creating a series from an existing DataFrame**: You can create a series from an existing DataFrame using the `pd.Series()` function. For example, `s = pd.Series(df['column_name'])` creates a series from the column `column_name` in the DataFrame `df`.



**Sources:**

(1) pandas.Series — pandas 2.2.0 documentation. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html.

(2) Create a Series in python – pandas - DataScience Made Simple. https://www.datasciencemadesimple.com/create-series-in-python-pandas/.

(3) Pandas Series Tutorial with Examples - Spark By {Examples}. https://sparkbyexamples.com/pandas/pandas-series-tutorial-with-examples/.

(4) 2 Easy Ways To Create Pandas Series – The Ultimate Guide. https://data-flair.training/blogs/pandas-series/.

(5) Creating a Pandas Series - GeeksforGeeks. https://www.geeksforgeeks.org/creating-a-pandas-series/.

Next-->DataFrames
----------

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

### Example

Create a DataFrame from two Series:
```
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

```
[Try it Yourself »](https://www.w3schools.com/python/pandas/trypython.asp?filename=demo_pandas_series_dataframes)

You will learn about [DataFrames in the next chapter](https://www.w3schools.com/python/pandas/pandas_dataframes.asp).